.form-check-input {
  width: 1.3rem;
  height: 1.3rem;
}

.form-check-input:hover {
  cursor: pointer;
}

.form-check-input:checked {
  background-color: #f17a84;
  border-color: #f17a84;
}

.formkit-input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.formkit-input::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.formkit-input::-moz-color-swatch {
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
