$small: 640px;
$medium: 768px;
$large: 1024px;
$xlarge: 1280px;

// Overwrite fullcalendar styles light
.fc {
  .fc-toolbar {
    @media screen and (max-width: $medium) {
      flex-direction: column;
      align-items: flex-start !important;
      gap: 10px;
    }

    .fc-toolbar-chunk {
      display: flex;
      align-items: center;
    }
  }

  .fc-button {
    padding: 0.75rem 1rem !important;

    &.fc-button-primary {
      background-color: transparent !important;
      color: #fb7185;
      border-color: #fb7185 !important;
    }

    &.fc-button-active {
      background-color: #fb7185 !important;
    }

    &:hover {
      background-color: #fb7185 !important;
      color: white !important;
    }

    &:focus {
      box-shadow: 0 0 0 0.05rem rgba(255, 113, 133, 0.5) !important;
      background-color: #fb7185 !important;
      color: white !important;
    }
  }

  .fc-view-harness {
    table {
      &.fc-col-header {
        td,
        th {
          border-color: #e7e7e7 !important;
        }

        .fc-col-header-cell {
          padding: 0.5rem;
        }
      }
    }

    .fc-daygrid-day {
      &.fc-day-today {
        background-color: #f3f4f6;
        background: #f3f4f6;
      }
    }

    .fc-daygrid-day-top {
      color: #6b727f !important;
    }

    .fc-more-link {
      color: #fb7185;
    }
  }

  .fc-daygrid-event-harness {
    .fc-daygrid-event {
      padding: 0.5rem 1rem;
    }

    .fc-h-event {
      &.fc-event-start {
        border-color: #fb7185;
        background-color: #fb7185;
      }
    }
  }
  .fc-list {
    .fc-list-event-dot {
      background-color: #fb7185;
      border: 5px solid #fb7185;
    }

    .fc-list-day-cushion {
      background-color: #f3f4f6;
      padding: 0.5rem 1rem;
    }
  }

  .fc-popover-header {
    padding: 0.5rem !important;
    background: #f3f4f6;
  }
}

// Overwrite fullcalendar styles dark (dark mode)

.dark .fc {
  .fc-button {
    &.fc-button-primary {
      background-color: transparent !important;
      color: #fb7185;
      border-color: #fb7185 !important;
    }

    &.fc-button-active {
      background-color: #fb7185 !important;
    }

    &:hover {
      background-color: #fb7185 !important;
    }

    &:focus {
      box-shadow: 0 0 0 0.05rem rgba(255, 113, 133, 0.5) !important;
      background-color: #fb7185 !important;
      color: white !important;
    }
  }

  .fc-view-harness {
    table {
      td,
      th {
        border-color: #334356 !important;
      }
    }

    .fc-scrollgrid {
      border-color: #334356 !important;
    }

    .fc-list-event:hover td {
      background-color: #334356 !important;
    }

    .fc-daygrid-day {
      &.fc-day-today {
        background-color: #17202f;
        background: #17202f;
      }
    }

    .fc-daygrid-day-top {
      color: #6b727f !important;
    }

    .fc-more-link {
      color: #fb7185;
    }
  }

  .fc-daygrid-event-harness {
    .fc-h-event {
      &.fc-event-start {
        border-color: #fb7185;
        background-color: #fb7185;
      }
    }
  }
  .fc-list {
    border-color: #334356 !important;

    .fc-list-event-dot {
      background-color: #fb7185;
      border: 5px solid #fb7185;
    }

    .fc-list-day-cushion {
      background-color: #1f2937;
    }
  }

  .fc-popover-header {
    background: #17202f;
  }

  .fc-popover-body {
    background: #1e293b;
  }
}
