.swiper-button-next,
.swiper-button-prev {
  color: #4B5563 !important;
  padding: 1.5rem;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.5rem !important;
}

.swiper-pagination-bullet {
  background-color: #8b98a9 !important;
}

.swiper-pagination-bullet-active {
  background: #4B5563 !important;
}
