.flag.normal-flag {
  margin: 0em -1em -0em -1em !important;
  transform: scale(0.38) !important;
  -ms-transform: scale(0.38) !important;
  -webkit-transform: scale(0.38) !important;
  -moz-transform: scale(0.38) !important;
}
