.btn-primary {
  background-color: #fb7185 !important;
  color: #fff !important;
}

.btn-white {
  background-color: #fff !important;
  color: #64748b !important;
  border: 2px solid #cbd5e1 !important;
}
